# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# Xml files

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

[*.xml]
indent_size = 2

dotnet_code_quality.CA1036.severity = none