# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# Xml files

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:suggestion

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

[*.xml]
indent_size = 2

dotnet_code_quality.CA1062.null_check_validation_methods = string.IsNullOrWhiteSpace