<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDatabase"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Startitecture.Orm.Testing.Schema;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>