# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Derick\source\repos\storm\Startitecture.Orm.SqlClient\ codebase based on best match to current usage at 10/15/2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none
