<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="audit">
      <section name="auditConfiguration" type="SAF.Security.AuditConfigurationSection, SAF.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DocumentProcessing" connectionString="Data Source=.;Initial Catalog=DocumentProcessing;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <audit>
    <auditConfiguration eventRepositoryConnection="DocumentProcessing" eventRepositoryType="Documents.Processing.Repository.ActionEventRepository, Documents.Processing.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </audit>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.0" newVersion="5.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
