<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAF.Data.Persistence.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SAF.Data.Persistence.Tests.Properties.Settings>
            <setting name="DBaseTestDirectory" serializeAs="String">
                <value>D:\Test\SAF\Data.Persistence\DBaseWrapper</value>
            </setting>
            <setting name="DBaseTestTable" serializeAs="String">
                <value>UPDATED</value>
            </setting>
            <setting name="DBaseTestVersion" serializeAs="String">
                <value>III</value>
            </setting>
        </SAF.Data.Persistence.Tests.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
