<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="FluentValidation" version="7.2.1" targetFramework="net452" />
  <package id="FluentValidation-Signed" version="7.0.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
</packages>