<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MasterDatabase" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=master;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="OrmTestingContext" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Startitecture.Orm.Testing.Schema;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
